{% extends "base.twig" %}

{% block content %}
<div class="post-type-{{post.post_type}}" id="post-{{post.ID}}">	

	<div class="row">
		<div class="columns medium-8 {{sidebar_class}}">
			{% if post.get_thumbnail %}
				<img class="thumbnail" src="{{ post.get_thumbnail.get_src|resize(800, 400) }}" alt="{{post.title}}" />
			{% endif %}

			<h1 class="page-title">{{ post.title }}</h1>

			{{ post.content }}
			
		</div>

		<div class="sidebar columns medium-3">
			{{sidebar_widget}}
		</div>
	</div>
</div>
{% endblock %}