{% extends "tease.twig" %}

{% block content %}
	{% if post.get_thumbnail %}
		<img src="{{ post.get_thumbnail.get_src|resize(600, 400) }}" alt="{{post.title}}" />
	{% endif %}
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	<p>{{post.get_preview(25)}}</p>
			
{% endblock %}